@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #999999;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #8a8a8a;
  text-decoration: inherit;
}
a:hover {
  color: #707070;
}

body,
html {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  /*
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Loading */
@keyframes loading-bounce-animation {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-15px);
  }
  15% {
    transform: translateY(0);
  }
}

.loading-bounce {
  animation-name: loading-bounce-animation;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Main bg */
.fade-in-custom {
  animation-name: fade-in;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
}

/* Main Clock */
.main-clock {
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Main Greeting */
.main-greeting {
  font-size: 3rem;
  font-weight: 400;
}

/* Job Application Form modal */
.form-modal {
  background: rgba(30, 30, 30, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
}

.form-button {
  background: rgba(255, 255, 255, 0.15);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem 1rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.form-button:hover {
  background-color: #707070;
}
.form-button:focus,
.form-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Job Application Card */
.job-card {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #b1b1b1;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #707070;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  /* :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #707070;
  }
  button {
    background-color: #f9f9f9;
  } */
}
